@import "fonts/fonts";
@import "pages/home";
@import "typography/typography";
@import "styling/styles";

* {
    background-color: rgb(233, 231, 217);
    font-size: 0.625rem;
    font-family: 'Satoshi';
}

.wrapper {
    margin:auto;
    padding: 2.4rem;
    max-width: 800px;
    text-align: center;
    vertical-align: center;
}